In [22]:
from pyspark.sql import SparkSession, Row
spark=SparkSession.builder.getOrCreate()
from pyspark.sql.functions import col, substring, expr
from pyspark.sql.types import DoubleType, LongType

In [23]:
#lendo os arquivos json com os dados de VRA

df=spark.read.json(['C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_20211.json', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_20212.json', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_20213.json', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_20214.json', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_20215.json', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_20216.json', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_20217.json', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_20218.json', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_20219.json', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_202110.json', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_202111.json'])

In [ ]:
#estrutura do df VRA

df.printSchema()

In [ ]:
#visualizando as primeiras 200 linhas do df VRA

df.show(200)

In [26]:
#criando um novo df com o nome das colunas normalizados para snake case

df_vra=df.withColumnRenamed("ChegadaPrevista", "Chegada_Prevista").withColumnRenamed("ChegadaReal", "Chegada_Real").withColumnRenamed("CódigoAutorização","Codigo_Autorizacao")\
    .withColumnRenamed("CódigoJustificativa", "Codigo_Justificativa").withColumnRenamed("CódigoTipoLinha", "Codigo_Tipo_Linha").withColumnRenamed("ICAOAeródromoDestino", "ICAO_Aerodromo_Destino")\
    .withColumnRenamed("ICAOAeródromoOrigem", "ICAO_Aerodromo_Origem").withColumnRenamed("ICAOEmpresaAérea", "ICAO_Empresa_Aerea").withColumnRenamed("NúmeroVoo", "Numero_Voo")\
    .withColumnRenamed("PartidaPrevista", "Partida_Prevista").withColumnRenamed("PartidaReal", "Partida_Real").withColumnRenamed("SituaçãoVoo", "Situacao_Voo")

In [ ]:
#estrutura do novo df VRA com o nome das colunas normalizados

df_vra.printSchema()

In [28]:
#escrevendo e salvando o novo df VRA em parquet e com modo overwrite

df_vra.write.mode("overwrite").parquet("C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/VRA/VRA_2021_GERAL.parquet")

In [29]:
#lendo os arquivos csv com os dados de AIR_CIA

df1=spark.read.options(header='True', delimiter=';', inferSchema='True').csv(['C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/AIR_CIA/ANAC_20211220_203627.csv', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/AIR_CIA/ANAC_20211220_203643.csv', 'C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/AIR_CIA/ANAC_20211220_203733.csv'])

In [ ]:
#estrutura do df AIR_CIA

df1.printSchema()

In [ ]:
#visualizando as linhas do df AIR_CIA

df1.show(50)

In [113]:
#criando um novo df para os dados da AIRCIA com o nome das colunas padronizados em snake case

df_AIRCIA=df1.withColumnRenamed("Razão Social", "Razao_Social").withColumnRenamed("ICAO IATA", "ICAO_IATA").withColumnRenamed("Atividades Aéreas", "Atividades_Aereas").withColumnRenamed("Endereço Sede", "Endereco_Sede")\
    .withColumnRenamed("E-Mail", "E_Mail").withColumnRenamed("Decisão Operacional", "Decisao_Operacional").withColumnRenamed("Data Decisão Operacional", "Data_Decisao_Operacional").withColumnRenamed("Validade Operacional", "Validade_Operacional")

In [ ]:
#visualizando as linhas do novo df

df_AIRCIA.show(200)

In [114]:
#criando um novo df para os dados AIR_CIA separando a coluna ICAO_IATA em duas novas colunas com um case when para tratamento de acordo com a maneira que o dado da linha vier

df_AIRCIA_2=df_AIRCIA.withColumn("ICAO", substring("ICAO_IATA",1, 3)).withColumn("IATA", expr("CASE WHEN ICAO_IATA like '%%% %%' THEN substring(ICAO_IATA, 5, 2)" + "ELSE NULL END"))

In [ ]:
#visualizando os dados do df com as colunas em snake case e com as duas novas colunas

df_AIRCIA_2.show(50)

In [37]:
#escrevendo e salvando df AIRCIA unificado e tratado em parquet e com modo overwrite

df_AIRCIA_2.write.mode("overwrite").parquet("C:/Users/Murillo/Desktop/DADOS TESTE_PROJETAS/AIR_CIA/AIR_CIA_GERAL")

In [134]:
##transformando o df AIRCIA em uma tabela temporaria para dar inicio a manipulacao de dados para gerar a primeira view

df_AIRCIA_2.createOrReplaceTempView("aircia_origem")

#removendo dados duplicados aircia
df_aircia=spark.sql("SELECT DISTINCT * FROM aircia_origem")
df_aircia.createOrReplaceTempView("aircia")

#transformando o df VRA em uma tabela temporaria para dar inicio a manipulacao de dados para gerar a primeira view
df_vra.createOrReplaceTempView("vra")


########################################################
#df_api.createOrReplaceTempView("api_aeroportos")
########################################################

In [135]:
#criacao de tabelas temporarias e manipulacao de dados com SQL para gerar ao final de tudo (df_vra_temp4) com um df com dados das rotas(ICAO aeroporto origem + ICAO aeroporto destino) mais utilizadas por cada empresa aerea

df_vra_temp=spark.sql("""
SELECT 
    ICAO_Empresa_Aerea, concat(ICAO_Aerodromo_Origem, ICAO_Aerodromo_Destino) as Rota 
FROM 
    vra 
WHERE 
    Situacao_Voo = 'REALIZADO' 
ORDER BY 
    ICAO_Empresa_Aerea, Rota""")
    
df_vra_temp.createOrReplaceTempView("vra_temp")


df_vra_temp2=spark.sql("""
SELECT 
    ICAO_Empresa_Aerea, Rota, count(Rota) as Quantidade 
FROM 
    vra_temp 
GROUP BY 
    ICAO_Empresa_Aerea, Rota 
ORDER BY 
    ICAO_Empresa_Aerea""")

df_vra_temp2.createOrReplaceTempView("vra_temp2")


df_vra_temp3=spark.sql("""
SELECT 
    ICAO_Empresa_Aerea, MAX(Quantidade) as Qtd_MAX 
FROM 
    vra_temp2 
GROUP BY 
    ICAO_Empresa_Aerea 
ORDER BY 
    ICAO_Empresa_Aerea""")

df_vra_temp3.createOrReplaceTempView("vra_temp3")


df_vra_temp4=spark.sql("""
SELECT 
    vra_temp2.ICAO_Empresa_Aerea, vra_temp2.Rota, vra_temp2.Quantidade 
FROM 
    vra_temp2 
INNER JOIN 
    vra_temp3 ON vra_temp2.ICAO_Empresa_Aerea = vra_temp3.ICAO_Empresa_Aerea 
WHERE 
    vra_temp2.Quantidade = vra_temp3.Qtd_MAX""")

df_vra_temp4.createOrReplaceTempView("vra_temp4")

In [ ]:
df_vra_temp4.show()

In [ ]:
#gerando uma tabela final com dados de AIR CIA contendo a rota(Aeroporto Origem -> Aeroporto Destino) feita com maior frequencia por cada empresa aerea

df_aircia_final=spark.sql("""
SELECT 
    Razao_Social, ICAO, IATA, CNPJ, Atividades_Aereas, Endereco_Sede, Telefone, E_Mail, Decisao_Operacional, Data_Decisao_Operacional, Validade_Operacional, substring(vra_temp4.Rota, 1, 4) as Aeroporto_Origem, substring(vra_temp4.Rota, 5, 4) as Aeroporto_Destino, vra_temp4.Quantidade 
FROM 
    aircia 
LEFT JOIN 
    vra_temp4 ON aircia.ICAO = vra_temp4.ICAO_Empresa_Aerea""")

df_aircia_final.createOrReplaceTempView("aircia_final")

df_aircia_final.show()

In [ ]:
#criando um dataframe com os dados da view1

#algumas empresas aereas chegaram ao final com seu destino mais frequente com dados nulos por 2 motivos:
# 1: A empresa PRIME TÁXI AIR LTDA não possui o dado de ICAO na tabela de AIR CIA de origem
# 2: As outras empresas não possuem dados na tabela de VRA com os respectivos ICAO representados pela tabela AIR CIA

df_view1=spark.sql("SELECT aircia_final.Razao_Social, aircia_final.Aeroporto_Origem, aircia_final.Aeroporto_Destino FROM aircia_final")

In [171]:
#df_vra.show()
#df_aircia.show()

df_view2_temp1=spark.sql("""
SELECT 
    vra.ICAO_Aerodromo_Origem, vra.ICAO_Aerodromo_Destino, vra.ICAO_Empresa_Aerea, aircia.Razao_Social, vra.Numero_Voo, vra.Situacao_Voo 
FROM 
    vra 
INNER JOIN 
    aircia ON vra.ICAO_Empresa_Aerea = aircia.ICAO
WHERE
    vra.Situacao_voo = 'REALIZADO'""")

df_view2_temp1.createOrReplaceTempView("view2_temp1")

df_view2_temp1.show()

+---------------------+----------------------+------------------+--------------------+----------+------------+
|ICAO_Aerodromo_Origem|ICAO_Aerodromo_Destino|ICAO_Empresa_Aerea|        Razao_Social|Numero_Voo|Situacao_Voo|
+---------------------+----------------------+------------------+--------------------+----------+------------+
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBGR|                  SBAR|               TAM|TAM LINHAS AÉREAS...|      3268|   REALIZADO|
|                 SBCT|                  SBSP|               TAM|TAM LINHAS AÉREAS...|      3000|   REALIZADO|
|                 SBCT|                  SBSP|               TAM|TAM LINHAS AÉREAS...|      3000|   REALIZADO|
|                 SBCT|                  SBSP|               TAM|TAM LINHAS AÉREAS...|      3000|   REALIZADO|
|                 SBCT|                  SBSP|               TAM|TAM LINHAS AÉREAS...|      3000|   REALIZADO|
+---------------------+----------------------+------------------+--------------------+----------+------------+
only showing top 20 rows

In [188]:

############################          MANIPULACAO PARA DADOS DE AEROPORTO DE ORIGEM              ###################################
df_view2_temp2=spark.sql("SELECT ICAO_Aerodromo_Origem, Razao_Social, COUNT(Razao_Social) as Qtd_Origem FROM view2_temp1 GROUP BY ICAO_Aerodromo_Origem, Razao_Social ORDER BY ICAO_Aerodromo_Origem")
df_view2_temp2.createOrReplaceTempView("view2_temp2")



df_view2_temp2_maxOrigem=spark.sql("SELECT ICAO_Aerodromo_Origem, MAX(Qtd_Origem) as Qtd_Origem FROM view2_temp2 GROUP BY ICAO_Aerodromo_Origem")
df_view2_temp2_maxOrigem.createOrReplaceTempView("view2_temp2_maxOrigem")



df_view2_temp2_finalOrigem=spark.sql("""
SELECT 
    view2_temp2.ICAO_Aerodromo_Origem, view2_temp2.Qtd_Origem, view2_temp2.Razao_Social 
FROM 
    view2_temp2 
INNER JOIN 
    view2_temp2_maxOrigem ON view2_temp2.ICAO_Aerodromo_Origem = view2_temp2_maxOrigem.ICAO_Aerodromo_Origem 
WHERE 
    view2_temp2.Qtd_Origem = view2_temp2_maxOrigem.Qtd_Origem""")
df_view2_temp2_finalOrigem.createOrReplaceTempView("view2_temp2_finalOrigem")


############################          MANIPULACAO PARA DADOS DE AEROPORTO DE DESTINO              ###################################
df_view2_temp3=spark.sql("SELECT ICAO_Aerodromo_Destino, Razao_Social, COUNT(Razao_Social) as Qtd_Destino FROM view2_temp1 GROUP BY ICAO_Aerodromo_Destino, Razao_Social ORDER BY ICAO_Aerodromo_Destino")
df_view2_temp3.createOrReplaceTempView("view2_temp3")



df_view2_temp3_maxDestino=spark.sql("SELECT ICAO_Aerodromo_Destino, MAX(Qtd_Destino) as Qtd_Destino FROM view2_temp3 GROUP BY ICAO_Aerodromo_Destino")
df_view2_temp3_maxDestino.createOrReplaceTempView("view2_temp3_maxDestino")



df_view2_temp3_finalDestino=spark.sql("""
SELECT 
    view2_temp3.ICAO_Aerodromo_Destino, view2_temp3.Qtd_Destino, view2_temp3.Razao_Social 
FROM 
    view2_temp3 
INNER JOIN 
    view2_temp3_maxDestino ON view2_temp3.ICAO_Aerodromo_Destino = view2_temp3_maxDestino.ICAO_Aerodromo_Destino 
WHERE 
    view2_temp3.Qtd_Destino = view2_temp3_maxDestino.Qtd_Destino""")
df_view2_temp3_finalDestino.createOrReplaceTempView("view2_temp3_finalDestino")

+----------------------+-----------+--------------------+
|ICAO_Aerodromo_Destino|Qtd_Destino|        Razao_Social|
+----------------------+-----------+--------------------+
|                  KORD|         13|TAM LINHAS AÉREAS...|
+----------------------+-----------+--------------------+

In [204]:
############################          UNIFICANDO DADOS DE QUANTIDADE DE ORIGEM E DESTINO             ###################################
#RIGHT JOIN devido a um caso especifico de um aeroporto que só recebeu pouso

df_view2_qtdUnificada=spark.sql("""
SELECT 
    view2_temp3_finalDestino.ICAO_Aerodromo_Destino as ICAO_Aerodromo, view2_temp3_finalDestino.Razao_Social, view2_temp2_finalOrigem.Qtd_Origem AS Qtd_Decolagem, view2_temp3_finalDestino.Qtd_Destino AS Qtd_Pouso, (view2_temp3_finalDestino.Qtd_Destino+view2_temp2_finalOrigem.Qtd_Origem) AS Qtd_Total 
FROM 
    view2_temp2_finalOrigem 
RIGHT JOIN 
    view2_temp3_finalDestino ON view2_temp2_finalOrigem.ICAO_Aerodromo_Origem = view2_temp3_finalDestino.ICAO_Aerodromo_Destino""")

df_view2_qtdUnificada.show(1000)

+--------------+--------------------+-------------+---------+---------+
|ICAO_Aerodromo|        Razao_Social|Qtd_Decolagem|Qtd_Pouso|Qtd_Total|
+--------------+--------------------+-------------+---------+---------+
|          SBPS|AZUL LINHAS AÉREA...|         1927|     1929|     3856|
|          SBIH|MAP TRANSPORTES A...|          226|      225|      451|
|          SBSJ|SIDERAL LINHAS AÉ...|            1|        1|        2|
|          SBSJ|OMNI TÁXI AÉREO S.A.|            1|        1|        2|
|          SSSC|AZUL CONECTA LTDA...|            7|        7|       14|
|          SBCH|AZUL LINHAS AÉREA...|          809|      808|     1617|
|          SCCF|ABSA - AEROLINHAS...|            1|        1|        2|
|          SBCR|AZUL LINHAS AÉREA...|          166|      161|      327|
|          SNEE|AZUL CONECTA LTDA...|            8|        9|       17|
|          OMAA|ABSA - AEROLINHAS...|            1|        2|        3|
|          SBUG|AZUL LINHAS AÉREA...|          165|      164|      329|
|          SBSG|TAM LINHAS AÉREAS...|         2025|     2033|     4058|
|          SBSO|AZUL LINHAS AÉREA...|           87|       86|      173|
|          SSOE|AEROSUL TÁXI AÉRE...|            8|        9|       17|
|          SBFN|AZUL LINHAS AÉREA...|          784|      786|     1570|
|          SBLO|AZUL LINHAS AÉREA...|         1408|     1409|     2817|
|          SNTS|AZUL CONECTA LTDA...|           14|       16|       30|
|          SBBV|AZUL LINHAS AÉREA...|          542|      545|     1087|
|          SBTC|TAM LINHAS AÉREAS...|           58|       57|      115|
|          SBRP|AZUL LINHAS AÉREA...|         1531|     1551|     3082|
|          SBJP|AZUL LINHAS AÉREA...|         1648|     1660|     3308|
|          SWLB|MAP TRANSPORTES A...|           43|       45|       88|
|          SSOG|AEROSUL TÁXI AÉRE...|         null|        1|     null|
|          SBMO|AZUL LINHAS AÉREA...|         2136|     2142|     4278|
|          SBSV|GOL LINHAS AÉREAS...|         6570|     6441|    13011|
|          SNTF|AZUL LINHAS AÉREA...|          237|      235|      472|
|          SBEG|AZUL LINHAS AÉREA...|         3822|     3842|     7664|
|          SWKO|MAP TRANSPORTES A...|          115|      115|      230|
|          SSSB|AZUL CONECTA LTDA...|            7|        7|       14|
|          SNOX|AZUL CONECTA LTDA...|            7|        7|       14|
|          SBMD|AZUL CONECTA LTDA...|           22|       27|       49|
|          SBAR|AZUL LINHAS AÉREA...|         1384|     1389|     2773|
|          SBTF|MAP TRANSPORTES A...|          204|      207|      411|
|          SWPI|MAP TRANSPORTES A...|          291|      290|      581|
|          SBRD|AZUL LINHAS AÉREA...|          195|      194|      389|
|          MNMG|AZUL LINHAS AÉREA...|            1|        1|        2|
|          SBAE|AZUL LINHAS AÉREA...|          544|      541|     1085|
|          SBPK|AZUL LINHAS AÉREA...|          229|      229|      458|
|          SBFI|TAM LINHAS AÉREAS...|         1193|     1184|     2377|
|          SBJA|TAM LINHAS AÉREAS...|          214|      213|      427|
|          SBBR|TAM LINHAS AÉREAS...|        16109|    16109|    32218|
|          MMMX|TAM LINHAS AÉREAS...|          238|      238|      476|
|          SBCN|AZUL LINHAS AÉREA...|          117|      117|      234|
|          SBNF|TAM LINHAS AÉREAS...|         1700|     1637|     3337|
|          SBPF|GOL LINHAS AÉREAS...|           10|       10|       20|
|          SBCD|AEROSUL TÁXI AÉRE...|           28|       26|       54|
|          EDDF|TAM LINHAS AÉREAS...|          194|      191|      385|
|          SBUY|MAP TRANSPORTES A...|          528|      531|     1059|
|          SBMK|AZUL LINHAS AÉREA...|          872|      877|     1749|
|          SVMI|SIDERAL LINHAS AÉ...|            2|        2|        4|
|          KMIA|ABSA - AEROLINHAS...|          510|      505|     1015|
|          SBSI|AZUL LINHAS AÉREA...|          548|      527|     1075|
|          SBPO|AEROSUL TÁXI AÉRE...|           11|       15|       26|
|          SBZM|AZUL LINHAS AÉREA...|          316|      317|      633|
|          SNEB|AZUL CONECTA LTDA...|            4|        4|        8|
|          MDPC|GOL LINHAS AÉREAS...|            7|        8|       15|
|          SNBR|PASSAREDO TRANSPO...|          335|      335|      670|
|          MGGT|AZUL LINHAS AÉREA...|            4|        4|        8|
|          SNRU|AZUL CONECTA LTDA...|           23|       23|       46|
|          SBKP|AZUL LINHAS AÉREA...|        40758|    40401|    81159|
|          SNTI|AZUL CONECTA LTDA...|            7|        7|       14|
|          SBCP|AZUL LINHAS AÉREA...|          185|      188|      373|
|          SUMU|TAM LINHAS AÉREAS...|          162|      160|      322|
|          SBCB|AZUL LINHAS AÉREA...|          224|      225|      449|
|          SBCA|AZUL LINHAS AÉREA...|          655|      657|     1312|
|          ZBAA|TAM LINHAS AÉREAS...|            3|        1|        4|
|          SBGR|TAM LINHAS AÉREAS...|        32998|    32864|    65862|
|          SBVT|AZUL LINHAS AÉREA...|         3473|     3478|     6951|
|          EHAM|TAM LINHAS AÉREAS...|           16|       19|       35|
|          SBCF|AZUL LINHAS AÉREA...|        20732|    20676|    41408|
|          SBJD|AZUL CONECTA LTDA...|           27|       26|       53|
|          SULS|AZUL LINHAS AÉREA...|            8|        7|       15|
|          SBFL|TAM LINHAS AÉREAS...|         2453|     2465|     4918|
|          SBTB|MAP TRANSPORTES A...|           21|       21|       42|
|          SNCP|AEROSUL TÁXI AÉRE...|            3|        3|        6|
|          SANU|GOL LINHAS AÉREAS...|            1|        1|        2|
|          SBCT|AZUL LINHAS AÉREA...|         6035|     6064|    12099|
|          SBPA|AZUL LINHAS AÉREA...|         7684|     7682|    15366|
|          SBNM|AZUL LINHAS AÉREA...|          162|      163|      325|
|          SBRF|AZUL LINHAS AÉREA...|        20213|    20297|    40510|
|          SBSN|AZUL LINHAS AÉREA...|          998|     1005|     2003|
|          SSZR|AZUL CONECTA LTDA...|            8|        8|       16|
|          SSAP|AEROSUL TÁXI AÉRE...|           12|        8|       20|
|          SWCA|MAP TRANSPORTES A...|          227|      230|      457|
|          MPTO|AZUL LINHAS AÉREA...|            1|        1|        2|
|          SABE|TAM LINHAS AÉREAS...|           25|       25|       50|
|          SBTT|AZUL LINHAS AÉREA...|          278|      280|      558|
|          SGAS|ABSA - AEROLINHAS...|            7|        7|       14|
|          SBML|AZUL LINHAS AÉREA...|          357|      359|      716|
|          SBIZ|TAM LINHAS AÉREAS...|          531|      507|     1038|
|          SBPV|AZUL LINHAS AÉREA...|         1192|     1188|     2380|
|          SBJU|AZUL LINHAS AÉREA...|          737|      738|     1475|
|          SLVR|TAM LINHAS AÉREAS...|            1|        3|        4|
|          SNMA|AZUL CONECTA LTDA...|            7|        7|       14|
|          SBPJ|GOL LINHAS AÉREAS...|          568|      543|     1111|
|          SBMG|AZUL LINHAS AÉREA...|         1207|     1218|     2425|
|          SILC|ASTA LINHAS AÉREA...|         null|        1|     null|
|          SBUL|AZUL LINHAS AÉREA...|         2383|     2390|     4773|
|          SAAR|SIDERAL LINHAS AÉ...|            1|        1|        2|
|          KJFK|TAM LINHAS AÉREAS...|          145|      146|      291|
|          SBKG|AZUL LINHAS AÉREA...|          648|      654|     1302|
|          SNYA|AZUL CONECTA LTDA...|            8|        8|       16|
|          SBJI|AZUL LINHAS AÉREA...|          128|      128|      256|
|          SBVC|AZUL LINHAS AÉREA...|          559|      561|     1120|
|          SWHP|AZUL CONECTA LTDA...|            7|        7|       14|
|          SBCY|AZUL LINHAS AÉREA...|         4844|     4890|     9734|
|          SWJN|ASTA LINHAS AÉREA...|           47|       51|       98|
|          LEMD|TAM LINHAS AÉREAS...|          123|      123|      246|
|          SBDO|AZUL LINHAS AÉREA...|          111|      112|      223|
|          SNGI|AZUL LINHAS AÉREA...|           43|       43|       86|
|          SNHS|AZUL CONECTA LTDA...|           25|       25|       50|
|          SKRG|ABSA - AEROLINHAS...|           73|       70|      143|
|          SMJP|AZUL LINHAS AÉREA...|            4|        4|        8|
|          SBBE|AZUL LINHAS AÉREA...|         5853|     5859|    11712|
|          KFLL|AZUL LINHAS AÉREA...|          222|      290|      512|
|          SBAU|AZUL LINHAS AÉREA...|          613|      616|     1229|
|          KORD|TAM LINHAS AÉREAS...|           17|       13|       30|
|          SBBW|AZUL CONECTA LTDA...|           14|       18|       32|
|          SNRJ|AZUL CONECTA LTDA...|            6|        6|       12|
|          SSOU|AZUL CONECTA LTDA...|            9|        8|       17|
|          SCEL|ABSA - AEROLINHAS...|          209|      227|      436|
|          SBUA|MAP TRANSPORTES A...|          110|      108|      218|
|          SNVS|AZUL CONECTA LTDA...|           23|       23|       46|
|          TNCA|AZUL LINHAS AÉREA...|            2|        2|        4|
|          LEBL|TAM LINHAS AÉREAS...|           12|       13|       25|
|          SBCX|AZUL LINHAS AÉREA...|          245|      247|      492|
|          SBDN|AZUL LINHAS AÉREA...|          887|      892|     1779|
|          SAME|TAM LINHAS AÉREAS...|           18|       19|       37|
|          SKBO|TAM LINHAS AÉREAS...|           87|       80|      167|
|          SBCJ|AZUL LINHAS AÉREA...|          452|      458|      910|
|          SKBQ|TAM LINHAS AÉREAS...|            1|        1|        2|
|          SKBQ|TAM LINHAS AÉREAS...|            1|        1|        2|
|          SBSL|AZUL LINHAS AÉREA...|         1579|     1588|     3167|
|          SKPE|SIDERAL LINHAS AÉ...|            1|        1|        2|
|          SBPG|PASSAREDO TRANSPO...|           37|       37|       74|
|          SBCG|AZUL LINHAS AÉREA...|         1298|     1305|     2603|
|          SBJE|AZUL LINHAS AÉREA...|          282|      285|      567|
|          SBMQ|GOL LINHAS AÉREAS...|          643|      648|     1291|
|          SSLT|AZUL CONECTA LTDA...|           10|       10|       20|
|          SWEI|MAP TRANSPORTES A...|          110|      108|      218|
|          SBME|AZUL LINHAS AÉREA...|          182|      185|      367|
|          SBPB|AZUL LINHAS AÉREA...|           98|       98|      196|
|          SPJC|TAM LINHAS AÉREAS...|          127|      126|      253|
|          TJSJ|TAM LINHAS AÉREAS...|            1|        1|        2|
|          TJSJ|AZUL LINHAS AÉREA...|            1|        1|        2|
|          SBHT|AZUL LINHAS AÉREA...|          305|      308|      613|
|          SWTS|AZUL CONECTA LTDA...|            7|        6|       13|
|          LPPT|AZUL LINHAS AÉREA...|          175|      177|      352|
|          SLCB|TAM LINHAS AÉREAS...|            1|        1|        2|
|          KBOS|TAM LINHAS AÉREAS...|            3|        2|        5|
|          MSLP|AZUL LINHAS AÉREA...|            1|        1|        2|
|          SBGV|AZUL LINHAS AÉREA...|          489|      491|      980|
|          EBBR|AZUL LINHAS AÉREA...|           97|       98|      195|
|          SBSR|AZUL LINHAS AÉREA...|         1440|     1451|     2891|
|          SWGN|PASSAREDO TRANSPO...|          189|      189|      378|
|          SBFZ|GOL LINHAS AÉREAS...|         4599|     4710|     9309|
|          SBJV|AZUL LINHAS AÉREA...|          563|      573|     1136|
|          SBSP|TAM LINHAS AÉREAS...|        14954|    14851|    29805|
|          SWLC|AZUL LINHAS AÉREA...|          190|      193|      383|
|          SBAT|AZUL LINHAS AÉREA...|          240|      241|      481|
|          SBDB|AZUL LINHAS AÉREA...|          158|      159|      317|
|          SGES|ABSA - AEROLINHAS...|           27|       27|       54|
|          SBBG|AZUL CONECTA LTDA...|           18|       17|       35|
|          SBMA|AZUL LINHAS AÉREA...|          515|      518|     1033|
|          SBPL|AZUL LINHAS AÉREA...|          725|      729|     1454|
|          SBSM|AZUL LINHAS AÉREA...|          237|      237|      474|
|          SDNM|ASTA LINHAS AÉREA...|            5|        6|       11|
|          SBGO|AZUL LINHAS AÉREA...|         3213|     3233|     6446|
|          SBRB|GOL LINHAS AÉREAS...|          567|      564|     1131|
|          MMUN|TAM LINHAS AÉREAS...|           74|       76|      150|
|          SEQM|ABSA - AEROLINHAS...|          340|      337|      677|
|          SSER|AZUL CONECTA LTDA...|            7|        7|       14|
|          MTPP|AZUL LINHAS AÉREA...|           32|       33|       65|
|          SBVH|AZUL LINHAS AÉREA...|          145|      147|      292|
|          SBAC|AZUL LINHAS AÉREA...|           77|       77|      154|
|          SBCZ|GOL LINHAS AÉREAS...|          191|      193|      384|
|          SBTG|AZUL LINHAS AÉREA...|          184|      185|      369|
|          SBTU|AZUL CONECTA LTDA...|            5|        5|       10|
|          SEGU|TAM LINHAS AÉREAS...|            2|        2|        4|
|          SBGL|GOL LINHAS AÉREAS...|         6144|     6264|    12408|
|          SWFX|AZUL CONECTA LTDA...|         null|        7|     null|
|          SAEZ|ABSA - AEROLINHAS...|          233|      233|      466|
|          SSCN|AZUL CONECTA LTDA...|           15|       15|       30|
|          SBMS|AZUL LINHAS AÉREA...|          242|      245|      487|
|          SBTE|AZUL LINHAS AÉREA...|         1187|     1190|     2377|
|          SBRJ|AZUL LINHAS AÉREA...|        11701|    11674|    23375|
|          SBUR|AZUL LINHAS AÉREA...|          358|      358|      716|
|          SBIL|AZUL LINHAS AÉREA...|          862|      863|     1725|
|          SWMW|AZUL CONECTA LTDA...|           22|       22|       44|
+--------------+--------------------+-------------+---------+---------+